{
  "include": [
    "src/**/*.ts",
    "src/**/*.spec.ts"
  ],
  "exclude": [
    "node_modules",
    "**/*.d.ts"
  ],
  "reporter": [
    "text",
    "lcov",
    "html"
  ],
  "extension": [".ts"],
  "all": true,
  "cache": true,
  "instrument": true,
  "sourceMap": true,
  "check-coverage": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}
